.body {
    font-family: 'Nunito', sans-serif;
}

.table {
    margin-bottom: 50px;
    padding: 10px;
    width: 100%;
    max-width: 750px;

    border-radius: 10px;
    box-shadow: inset 0 2px 5px 0 rgba(0,0,0, 0.10);

    font-size: 14px;
    font-weight: 500;
}

.table-block {
    display: flex;
}

.table-inner {
    padding-left: 10px;
}

.table-block-title{
    width: 36px;

    display: flex;
    justify-content: center;
    align-items: center; 

    background-color: #ebf5f4;
    border-radius: 6px;

    color: #46a690;
}

.vertical-text{
    white-space: nowrap;
    transform: rotate(-90deg);
}

.table-row {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.table-column-titles {
    font-weight: 600;
}

.table-row:nth-of-type(2n) {
    background-color: #f8f9f9;
}

.table-column-title {
    width: 80px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.row-title {
    padding-left: 20px;
    padding-right: 62px;
    width: 300px;

    display: flex;
    align-items: center;
}

.price {
    width: 80px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    cursor : pointer;
}

.price.active {
    background-color: #ebf5f4;
    color: #46a690;
}


.table-other-title {
    background-color: #fdf3e8;
    color: #ed891f;
}

.footer-table {
    max-width: 770px;
    display: flex;
    justify-content: space-between;
}

.total {
    display: flex;
    align-items: center;
}

.total.title {
    font-size: 16px;
    font-weight: 600;
}

.total-price {
    padding: 0 20px;
    
    font-size: 24px;
    font-weight: 600;
}

.footer-btn {
    padding: 20px 80px;

    background: none;
    border: none;
    border-radius: 25px;

    color: #fff;
    background-color: #ffae2f;
}



  